img {
	border: 0;
	vertical-align: bottom;
}

.list {
	position: absolute;
}
.list img {
	border-radius: 2px;
}
.show .demo{
		float: left;
		width: 120px;
		height: 150px;
}
.show .demo:after{display:table; content:""; clear:both;}
.box{
		width: 110px;
		height: 150px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
}
