


body{
		font-size:84%; 
		margin:0; 
		line-height:1.5; 
		color:#333; 
		font-family:LanTinGBKMobil,Arial, sans-serif;
		
}

a{ text-decoration:none;}
a:hover{text-decoration:none;}

#main{
		width:100%;
		overflow:hidden;
}
.page {
		width: 100%;
		height: 100%;
		border: 0;
		overflow: hidden;
		display:none;
}

.m-result{
		z-index: 3;
}

.m-game{
		z-index:2;
		padding:0;
		overflow:hidden;
}

.m-loading{
		position: relative;
		margin:auto;
		padding-top: 300px;
}

.m-loading img{
		width: 640px;
}

.m-startup{
		z-index:1;
}
.shardowBg{
		position: absolute;
		top:0px;
		margin:auto;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.4;
		z-index:2;
}
.button_parent{
		position: absolute;
		bottom:220px;
		height: 50px;
		margin: auto;
		width: 640px;
}
.btn{
		color:blue;
		width: 239px;
		height: 114px;
		font-size: 30px;
		padding: 10px 20px;
		cursor: pointer;
		border-radius: 15px;
}

#startUpPage_back_img, #game_over_back_img, #pincode_back_img{
		width: 640px;
		height: 100%;
		position: absolute;
}

#startup_startBtn{
		position: relative;
		margin: auto;
}

 #gamePage, #resultPage, #pinCodePage{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
}
 #gamePage{
		z-index:100;
		display:block;
}
 #resultPage{
		z-index:110;
		display:none;
}
 #pinCodePage{
		z-index:120;
		display:none;
}
.canvasCover{
	position: absolute;
	width:100%;
	height:100%;
	top: 0;
	left: 0;
	opacity:0.6;
	z-index:105;
	background-color:black;
	display:none;
}

#gameTimer{
		height:50px;
		width:100%;
		position: relative;
		margin:auto;
		padding:10px 0px;
		border-bottom: 2px solid #99cc33;
		font-size:20px;
		font-weight:bolder;
}
#score, #clock{
	font-size:30px;
	color: #99cc33;
}
#score{
float:left;
margin-left:60px;
}
#clock{
float:right;
margin-right:60px;
}
#gameCanvas{
		padding-bottom:20px; 
		width:640px;
}

#game_over{
	position: relative;
	margin:auto;
	width:600px;
	padding:100px 0 0 20px;
	margin-bottom:60px;
}
#msg_current_score, #msg_history_score{
	position: relative;
	margin:auto;
	width:420px;
	font-size:50px;
	color: darkgreen;
}
#actionBtns{
	position: relative;
	margin:auto;
	margin-top:60px;
}

#retry, #share{
	float:left;
	width:200px;
	margin:30px 12px 0px 42px;
}

#shareguideImg{
	width:640px;
}
#pageshareguide{
	opacity: 0.6;  
	position: absolute;
	background-color:black;
	top:0;
	left:0;
}

#pincode_center{
	position: relative;
	margin:auto;
	width:400px;
	padding-top: 200px;
}
#pincode_center p{
	font-size: 30px;
	color:white;
}
#msg_pincode{
	color:red !important;
	font-size:48px;
}
#msg_pincode_memo{
	color:yellowgreen !important;
}
#pincode_center a{
	 text-decoration:underline;
	 color:drakblue !important;
}

@-webkit-keyframes popin {
    from {  -webkit-transform: scale(.8); opacity: 0; }
    to {   -webkit-transform: scale(1);   opacity: 1;    }
}
@keyframes popin {
    from {  transform: scale(.8);  opacity: 0;   }
    to {   transform: scale(1); opacity: 1;  }
}
@-webkit-keyframes popinscan {
    from {  -webkit-transform: scale(.8); opacity: 0; }
    to {   -webkit-transform: scale(3);   opacity: 1;    }
}
@keyframes popinscan {
    from {  transform: scale(.8);  opacity: 0;   }
    to {   transform: scale(3); opacity: 1;  }
}