<header>
    <a ng-click="back()" style="width: 50px;height: 100%;display: block;position: absolute;left: 0;" ><img ng-src="images/arrow_right.png" alt="" class="order_right"></a>
    <h1>信用等级</h1>
</header>

<div class="content">
    <div style="padding:10px 15px;text-align:left;color:#A5A5A5;font-size:13px;">
        美丽多会员在美丽多APP每成功交易一次，就可以对美甲师作一次信用评价。评价分为“好评”，“中评”，“差评”三类，每种评价对应一个信用分，具体为：“好评”加一分，“中评”不加分，“差评”扣一分。
    </div>
    <div style="padding:0px 15px;text-align:left;color:#333333;font-size:13px;">
        在交易中作为美甲师的角色，其信用度为一下25个级别：
    </div>
    <div style="padding:10px 15px;text-align:left;">
        <table style="width:100%">
            <tr >
                <td width="50%">1分</td>
                <td width="50%"><img src="images/dd_0.png" height="15" /></td>
            </tr>
            <tr >
                <td width="50%">2分-3分</td>
                <td width="50%">
                    <img src="images/dd_0.png" height="15" />
                    <img src="images/dd_0.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">4分-8分</td>
                <td width="50%">
                    <img src="images/dd_0.png" height="15" />
                    <img src="images/dd_0.png" height="15" />
                    <img src="images/dd_0.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">9分-14分</td>
                <td width="50%">
                    <img src="images/dd_0.png" height="15" />
                    <img src="images/dd_0.png" height="15" />
                    <img src="images/dd_0.png" height="15" />
                    <img src="images/dd_0.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">15分-30分</td>
                <td width="50%">
                    <img src="images/dd_0.png" height="15" />
                    <img src="images/dd_0.png" height="15" />
                    <img src="images/dd_0.png" height="15" />
                    <img src="images/dd_0.png" height="15" />
                    <img src="images/dd_0.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">31分-57分</td>
                <td width="50%">
                    <img src="images/dd_1.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">58分-93分</td>
                <td width="50%">
                    <img src="images/dd_1.png" height="15" />
                    <img src="images/dd_1.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">94分-146分</td>
                <td width="50%">
                    <img src="images/dd_1.png" height="15" />
                    <img src="images/dd_1.png" height="15" />
                    <img src="images/dd_1.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">147分-210分</td>
                <td width="50%">
                    <img src="images/dd_1.png" height="15" />
                    <img src="images/dd_1.png" height="15" />
                    <img src="images/dd_1.png" height="15" />
                    <img src="images/dd_1.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">211分-285分</td>
                <td width="50%">
                    <img src="images/dd_1.png" height="15" />
                    <img src="images/dd_1.png" height="15" />
                    <img src="images/dd_1.png" height="15" />
                    <img src="images/dd_1.png" height="15" />
                    <img src="images/dd_1.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">286分-384分</td>
                <td width="50%">
                    <img src="images/dd_2.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">385分-507分</td>
                <td width="50%">
                    <img src="images/dd_2.png" height="15" />
                    <img src="images/dd_2.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">508分-655分</td>
                <td width="50%">
                    <img src="images/dd_2.png" height="15" />
                    <img src="images/dd_2.png" height="15" />
                    <img src="images/dd_2.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">656分-828分</td>
                <td width="50%">
                    <img src="images/dd_2.png" height="15" />
                    <img src="images/dd_2.png" height="15" />
                    <img src="images/dd_2.png" height="15" />
                    <img src="images/dd_2.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">829分-1025分</td>
                <td width="50%">
                    <img src="images/dd_2.png" height="15" />
                    <img src="images/dd_2.png" height="15" />
                    <img src="images/dd_2.png" height="15" />
                    <img src="images/dd_2.png" height="15" />
                    <img src="images/dd_2.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">1026分-1306分</td>
                <td width="50%">
                    <img src="images/dd_3.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">1307分-1643分</td>
                <td width="50%">
                    <img src="images/dd_3.png" height="15" />
                    <img src="images/dd_3.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">1644分-2036分</td>
                <td width="50%">
                    <img src="images/dd_3.png" height="15" />
                    <img src="images/dd_3.png" height="15" />
                    <img src="images/dd_3.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">2037分-2485分</td>
                <td width="50%">
                    <img src="images/dd_3.png" height="15" />
                    <img src="images/dd_3.png" height="15" />
                    <img src="images/dd_3.png" height="15" />
                    <img src="images/dd_3.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">2486分-2990分</td>
                <td width="50%">
                    <img src="images/dd_3.png" height="15" />
                    <img src="images/dd_3.png" height="15" />
                    <img src="images/dd_3.png" height="15" />
                    <img src="images/dd_3.png" height="15" />
                    <img src="images/dd_3.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">2991分-3607分</td>
                <td width="50%">
                    <img src="images/dd_4.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">3608分-4336分</td>
                <td width="50%">
                    <img src="images/dd_4.png" height="15" />
                    <img src="images/dd_4.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">4337分-5177分</td>
                <td width="50%">
                    <img src="images/dd_4.png" height="15" />
                    <img src="images/dd_4.png" height="15" />
                    <img src="images/dd_4.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">5178分-6130分</td>
                <td width="50%">
                    <img src="images/dd_4.png" height="15" />
                    <img src="images/dd_4.png" height="15" />
                    <img src="images/dd_4.png" height="15" />
                    <img src="images/dd_4.png" height="15" />
                </td>
            </tr>
            <tr >
                <td width="50%">6131分-7195分</td>
                <td width="50%">
                    <img src="images/dd_4.png" height="15" />
                    <img src="images/dd_4.png" height="15" />
                    <img src="images/dd_4.png" height="15" />
                    <img src="images/dd_4.png" height="15" />
                    <img src="images/dd_4.png" height="15" />
                </td>
            </tr>
        </table>
    </div>
</div>

<style >
table {
    border:solid #DDDDDD 1px;
}
table td {
    color:#333333;
    font-size:13px;
    padding-left:10px;
}
table tr td:first-child {
    border-right:solid #DDDDDD 1px;
}

table tr:nth-child(odd){
    background-color:#F2F2F2;
}

table tr:nth-child(even){

}
</style>