<div class="content person" style="padding-top:0px;" zm-scroll="" scroll-lazyload="true">
    <div class="person_bg" style="height:190px;">
        <h3>{{title}}</h3>
        <img ng-src="images/person_bg_02.png" alt="" class="person_bg01" style="height:190px">
        <span class="personn_logo" lazyload-src="{{userData.avatar}}"></span><!--<img ng-src="{{userData.avatar}}" alt="" class="personn_logo">-->
        <p class="tel">{{userData.nickname}}</p>
    </div>
    <a href="#/order">
    <div class="pc-part clearfix">
        <div class="lf_logo">
            <img ng-src="images/My-order.png" alt="">
        </div>
        <div class="rh_cont">
            <p class="name">我的订单</p>
            <img ng-src="images/t_03.png" alt="" class="pc_right">
        </div>
    </div>
    </a>
    <a href="#/coupon">
    <div class="pc-part clearfix">
        <div class="lf_logo">
            <img ng-src="images/My-Coupon.png" alt="">
        </div>
        <div class="rh_cont">
            <p class="name">优惠劵</p>
            <img ng-src="images/t_03.png" alt="" class="pc_right">
        </div>
    </div>
    </a>
    <a href="#/collect">
    <div class="pc-part clearfix">
        <div class="lf_logo">
            <img ng-src="images/My-Collection.png" alt="">
        </div>
        <div class="rh_cont">
            <p class="name">我的收藏</p>
            <img ng-src="images/t_03.png" alt="" class="pc_right">
        </div>
    </div>
    </a>
    <a href="http://www.meilidoor.com/app.html">
    <div class="pc-part clearfix">
        <div class="lf_logo">
            <img ng-src="images/My-nail-artist.png" alt="">
        </div>
        <div class="rh_cont">
            <p class="name">下载客户端</p>
            <img ng-src="images/t_03.png" alt="" class="pc_right">
        </div>
    </div>
    </a>
    <a href="tel:4008816665">
    <div class="kefu" style="margin-bottom:40px">
        <i><img ng-src="images/My-Telephone.png" alt=""></i>客服：400-881-6665
    </div>
    </a>
</div>

<style>
.personn_logo img {
border-radius: 35px;
-webkit-border-radius: 35px;
-moz-border-radius: 35px;
}
</style>