<header>
    <h1>{{title}}</h1>
    <a href="#/searchDesigner"><div class="header_left">
        <!--<span>搜索</span>-->
        <span><img src="../images/search.png" width="24" height="24"> </span>
    </div></a>
    <a href="#/city"><div class="header_right">
        <span class='city'>{{city}}</span>
        <span class="arrow_down">
        </span>
    </div></a>
</header>
<div class="content" zm-scroll="" scroll-lazyload="true">
    <a ng-repeat="designer in designers" href="#/designer/{{designer.artisan_id}}">
    <div class="order-part clearfix">
        <div class="order_price" style="position: absolute;right: 10px;">
            <h3>剪发：￥{{designer.avg_price}}</h3>
            <p>共接单{{designer.order_num}}次</p>
        </div>
        <div class="clearfix" style="position: relative;overflow: hidden;padding-right: 100px;">
            <span style="float: left;margin-right: 16px;width: 54px;height: 54px;" lazyload-src="{{designer.avatar}}"></span>
            <div class="cont">
                <h4>{{designer.nickname}}
                    <img ng-src="images/certification_safe.png" height="30" class="{{designer.is_i==1?'':'ng-hide'}}"/><img ng-src="images/certification_s.png" height="15" class="{{designer.is_s==1?'':'ng-hide'}}"/><img ng-src="images/certification_v.png" height="15" class="{{designer.is_v==1?'':'ng-hide'}}"/></h4>
                <p class='heart'>
                    <img ng-src="images/dd_{{designer.levelType}}.png" alt="" ng-hide="{{designer.level<1}}">
                    <img ng-src="images/dd_{{designer.levelType}}.png" alt="" ng-hide="{{designer.level<2}}">
                    <img ng-src="images/dd_{{designer.levelType}}.png" alt="" ng-hide="{{designer.level<3}}">
                    <img ng-src="images/dd_{{designer.levelType}}.png" alt="" ng-hide="{{designer.level<4}}">
                    <img ng-src="images/dd_{{designer.levelType}}.png" alt="" ng-hide="{{designer.level<5}}">
                </p>
                <p ng-repeat="shop_id in designer.shop.length > 0 ? designer.shop[0].shop_id : ''" ng-click="showShop(shop_id);$event.preventDefault(); $event.stopPropagation();">{{designer.shop.length > 0 ? designer.shop[0].shop_name : ""}} ></p>
            </div>
        </div>
        
    </div>
    </a>
    <div class="loadmore-box" ng-show="loadMore"><a ng-if="!loading" href="" class="btn" ng-click="loadmoreHandler()">获取更多</a></div>
</div>

<style>
.order_pic span img {
border-radius: 27px;
-webkit-border-radius: 27px;
-moz-border-radius: 27px;
}
</style>