<header>
    <a ng-click="back()" style="width: 50px;height: 100%;display: block;position: absolute;left: 0;" ><img ng-src="images/arrow_right.png" alt="" class="order_right"></a>
    <h1>我的订单</h1>
</header>

<div class="content pi-order">
    <div class="order_num">
        订单号:201410210002404
    </div>
    <div class="order_tit">
        <img ng-src="images/opic_03.png" alt="">
        <div class="cont">
            <h4>五彩缤纷</h4>
            <p>韩国MEMORY，纯植物无污染，无异味，对人体无害，颜色靓丽纯正...</p>
        </div>
        <img ng-src="images/t_03.png" alt="" class="next">
        <div class="cash">￥168.00</div>
    </div>

    <div class="order_t clearfix">
        <div class="order_t01">
            <span>下单时间:</span>
            10-21  20:58
        </div>
        <div class="order_t02">
            <span>已付金额:</span>
            <span class='money1'>￥ 128.00</span>
        </div>
    </div>

    <div class="order_ok">
        <i><img ng-src="images/Order-State-Success.png" alt=""></i>您已经成功下单
        <p class="tui">美甲师已确认</p>
    </div>

    <div class="order_time clearfix">
        <div class="order_time01">
            <span>预约时间：</span>2014-11-20 14:00
        </div>
        <div class="order_time02">
            修改时间<i><img ng-src="images/t_03.png" alt=""></i>
        </div>
    </div>
    <p class="distan">
        离上门服务时间还有：<span>00</span>天<span>15</span>小时
    </p>

    <div class="connect_now">
        <i><img ng-src="images/Order-Telephone.png" alt=""></i>有事要提前联系哦~
    </div>
    <div class="ft_comm">
        <a href="" class="can01">取消订单</a>
    </div>
</div>