@font-face {
font-family:"ank";
src: url('ank.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}
@font-face {
font-family:"atlandsketchesbb_reg";
src: url('atlandsketchesbb_reg.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}
@font-face {
font-family:"BlazingItalic";
src: url('BlazingItalic.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}
@font-face {
font-family:"Jamaica_Aroma";
src: url('Jamaica_Aroma.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}
@font-face {
font-family:"Jellyka_Bees_Antique_Handwriting";
src: url('Jellyka_Bees_Antique_Handwriting.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}

@font-face {
font-family:"Jellyka_Castles_Queen";
src: url('Jellyka_Castles_Queen.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}

@font-face {
font-family:"Jellyka_CuttyCupcakes";
src: url('Jellyka_CuttyCupcakes.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}

@font-face {
font-family:"Jellyka_Estrya_Handwriting";
src: url('Jellyka_Estrya_Handwriting.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}

@font-face {
font-family:"LHFjami";
src: url('LHFjami.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}

@font-face {
font-family:"Mighty_to_Save";
src: url('Mighty_to_Save.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}

@font-face {
font-family:"PEIXE_FRITO";
src: url('PEIXE_FRITO.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}

@font-face {
font-family:"Quickie";
src: url('Quickie.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}

@font-face {
font-family:"Rebuffed";
src: url('Rebuffed.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}

@font-face {
font-family:"ROSETAT_TRIAL";
src: url('ROSETAT_TRIAL.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}

@font-face {
font-family:"Truffle-Shuffle";
src: url('Truffle-Shuffle.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}

@font-face {
font-family:"Windsong";
src: url('Windsong.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}

@font-face {
font-family:"fontawesome_webfont";
src: url('fontawesome_webfont.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}

@font-face {
font-family:"CircularStd_Book";
src: url('CircularStd_Book.woff') format('woff');
font-style:normal;
font-weight:normal;
}

@font-face {
font-family:"FiveMinutes";
src: url('FiveMinutes.otf') format('truetype');
font-style:normal;
font-weight:normal;
}




